.header-container {
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    background-color: #272727; 
    width: 100%;
}

.right {
    display: flex;
    align-items: center;
}

.header-heading {
    color: grey;
    font-size: 16px;
    cursor: pointer;
}

.menu-item {
    margin-right: 12px;
    color: grey;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none; 
}

.menu-item.active {
    color: #007bff;
}

.search-container {
    display: flex;
    align-items: center;
    padding: 5px;
}

.search-button {
    background-color: rgb(121, 119, 119);
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
}

.input-container {
    padding: 5px;
    border-radius: 3px;
    border: none;
    outline: none;
    /* width: 100% */
}


@media screen and (min-width: 576px) {
    .desktop-menu {
        display: flex;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-menu-trigger {
        display: none;
    }
}


@media screen and (max-width: 575px) {
    .input-container {
        width: 100%;
        padding: 3px 5px;
    }

    .header-heading {
        font-size: 15px;
    }

    .header-container {
        justify-content: space-between;
        padding: 0px 10px;
    }

    .search-button {
        display: none;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu-trigger {
        order: 1;
        font-size: 22px;
        color: #fff;
        background-color: transparent;
        border: none;
        cursor: pointer;
        border-radius: 3px;
      }
}
