.poster-img {
    width: 100%;
    border-radius: 3px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 20px;
}

.card {
    width: 15vw;
    border-radius: 3px;
}

.title {
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.rating {
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.card-link {
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease-in-out 0s;
}

.card-link:hover {
    transform: scale(1.05);
}


@media screen and (max-width: 576px) {
    .cards {
        flex-direction: column;
        gap: 20px;
    }

    .poster-img {
        height: 300px
    }

    .card {
        width: 90vw;
        margin: auto;
    }
}